// Selection
// --------------------------------------------------
::-moz-selection { 
	background-color: lighten($base-color, 65%); 
	color: $base-color; 
	text-shadow: none; 
}  	
::selection { 
	background-color: lighten($base-color, 65%); 
	color: $base-color; 
	text-shadow: none; 
}

// Global Classes
// --------------------------------------------------
.wrap {
	margin: 0 auto;
}
.all-caps {
	text-transform: uppercase;
}
.image-left {
	float: none;
	@media #{$medium} {
		float: left;
	}
}
.image-right {
	float: none;
	@media #{$medium} {
		float: right;
	}
}
.unstyled-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
	}
}
.inline-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
		display: inline;
	}
}

// Global Transition
// ---------------------------------------------------
b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a {
	@include transition(all .2s ease);
}

/***********************************************************************************
  
Post Subscribe
  
************************************************************************************/

#post-subscribe h1 {
    margin-bottom: 32px;
}

/***********************************************************************************
  
Subscribe
  
************************************************************************************/

#subscribe {
    margin: 15px 0 40px;
}

input[type="text"],
input[type="email"] {
    background: none;
    outline: none;
    
    border-radius: 20px 0 0 20px;
    border: none;
    border: 1px solid;
    
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 38px;
    
    width: 200px;
    height: 38px;
    
    padding: 0 20px;
    
    -webkit-appearance: none;
}

input:focus {
    outline: 0;
}

.button {
    outline: none;
    
    border-radius: 50%;
    border: none;
    
    font-size: 38px;
    line-height: 19px;
    text-align: center;
    
    width: 40px;
    height: 40px;
    
    padding: 0;
    
    position: absolute;
    top: 221px;
    left: 221px;
    
    cursor: pointer;
    
    transition-duration: 0.25s;
}

#post-subscribe {
    display: none;
}

/***********************************************************************************
  
Forms
  
************************************************************************************/

input[type="text"],
input[type="email"] {
    border-color: #000000;
    color: rgba(0, 0, 0, 0.85);
}

::-webkit-input-placeholder {
   color: rgba(0, 0, 0, 0.85);
}

:-moz-placeholder { 
   color: rgba(0, 0, 0, 0.85); 
}

::-moz-placeholder {
   color: rgba(0, 0, 0, 0.85);  
}

:-ms-input-placeholder {  
   color: rgba(0, 0, 0, 0.85); 
}

.button {
    background-color: #000000;
    color: rgba(0, 0, 0, 0.55);
}

.button:hover {
    background-color: #49b266;
    color: #ffffff;
}

/***********************************************************************************
  
Icons
  
************************************************************************************/

@font-face { 
    font-family: "ionicons"; 
    src: url("../assets/icons/ionicons.eot?v=1.4.1"); 
    src: url("../assets/icons/ionicons.eot?v=1.4.1#iefix") format("embedded-opentype"), 
         url("../assets/icons/ionicons.ttf?v=1.4.1") format("truetype"), 
         url("../assets/icons/ionicons.woff?v=1.4.1") format("woff"), 
         url("../assets/icons/ionicons.svg?v=1.4.1#Ionicons") format("svg"); 
    font-weight: normal; 
    font-style: normal; 
}

.icon { 
    font-family: "ionicons"; 
    speak: none; 
    font-style: normal; 
    font-weight: normal; 
    font-variant: normal; 
    text-transform: none; 
    text-rendering: auto; 
    line-height: 1; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    
    display: inline-block; 
}